.Login {
  height: 100vh;
  background-color: #f3f3f3;
  display: grid;
  place-content: center;

  .container {
    position: relative;
    width: 858px;
    height: 500px;
    background: #fff;
    border-radius: 14px;
  }
  label {
    color: rgb(62, 60, 60);
    font-style: 14px;
  }
  .text {
    color: rgb(62, 60, 60);
    font-style: 15px;
  }
  .form-container {
    position: absolute;
    width: 50%;
    height: 100%;
    padding: 0 40px;
    transition: all 0.6s ease-in-out;
  }
  .sign-up-container {
    opacity: 0;
    z-index: 1;
  }
  .sign-in-container {
    z-index: 2;
  }
  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 38px;
    gap: 16px;
  }
  h2 {
    font-size: 30px;
    color: #4d913c;
    white-space: nowrap;
  }

  .forgot-password:hover {
    color: #4d9;
  }
  /* button {
    border-radius: 20px;
    border: none;
    background-color: #4d913c;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 43px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .form-container button {
    margin-top: 10px;
    transition: 0.3s ease-in;
  }
  .form-container button:hover {
    background-color: #fff;
    color: #4d913c;
    border: 1px solid #4d913c;
  } */
  .input-container {
    display: flex;
    width: 100%;
    border-radius: 3px;
    padding: 0 10px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
    align-items: center;
  }
  .inputs {
    display: grid;
    gap: 15px;
    margin-top: 10px;
    width: 100%;
  }
  .input {
    background: transparent;
    height: 100%;
    width: 100%;
    padding: 10px;
    display: block;
    border: none;
  }
  .input:focus {
    outline: none;
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    z-index: 9;
  }
  .trash {
    height: 100%;
    width: 100%;
    border-radius: 14px;
  }
  .overlay {
    position: relative;
    left: -140%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
  }
  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    height: 100%;
    width: 340px;
    transition: transform 0.6s ease-in-out;
  }

  .overlay-right {
    right: 0;
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  /* .container {
    width: 655px !important;
  } */
  .overlay-container {
    display: none !important;
  }
  .container {
    width: 300px !important;
  }
  .form-container {
    width: 100% !important;
    padding: 0 !important;
  }
  h2 {
    font-size: 26px !important;
  }
  .text {
    font-size: 14px !important;
  }
  button {
    padding: 10px 25px !important;
    font-size: 11px !important;
  }
  .overlay {
    left: -150vh !important;
    background-size: cover !important;
  }
}

@media screen and (max-width: 640px) {
  .form-container {
    padding: 0px !important;
  }
  h2 {
    font-size: 25px !important;
  }
  .text {
    font-size: 14px !important;
  }
  /* button {
    font-size: 12px !important;
    padding: 10px 25px !important;
  } */
}
