* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  --primary: #688e43;
  --secondary: #8da861;
  --text: #121212;
  --bg: #fff;
  --bg2: #bbbbbb;
  --text-light: #a1a1a1;
  --white-primary: #fff;
  --success: green;
  --danger: danger;
  --info: blue;
}

a {
  text-decoration: none;
  color: inherit;
}
