@import url('../index.css');

.payment {
  width: 100vw;
  height: 100vh;
  background-image: url('/patternMety.svg');
  background-size: cover;
}
.payment .message h1 {
  font-size: 40px;
  color: var(--white-primary);
}

.payment .message img {
  width: 345px;
  height: 345px;
}
.payment .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment .container .message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
.payment .form-container {
  border-radius: 10px;
  width: 34%;
  height: 50vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.payment .form-container .title {
  display: flex;
  width: 100%;
  justify-content: center;
}
.payment .form-container .title .title-text {
  color: rgb(94, 94, 94);
}

.payment .form-container form {
  display: flex;
  width: 98%;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  gap: 30px;
}
.payment .form-container form .item {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.payment .form-container form .item .item-input {
  box-sizing: border-box;
  width: 50%;
}

.payment .form-container form .item .input-form {
  border: none;
  width: 100%;
  height: 30px;
}
.button-payer {
  background-color: #5af896;
  border: none;
  padding: 8px;
  border-radius: 5px;
}
.input {
  width: 100%;
}
.alert {
  color: #da6a6a;
}

@media screen and (max-width: 920px) {
  .payment .message h1 {
    font-size: 30px;
    color: var(--white-primary);
  }
  .payment .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .payment .container .message {
    margin: auto;
    width: 100%;
  }

  .payment .form-container {
    width: 90%;
    margin: auto;
  }

  .payment .form-container form .item {
    flex-direction: column;
    display: flex;
    gap: 15px;
  }

  .payment .form-container form .item .item-input {
    width: 100%;
  }

  .payment .form-container form .item .item-input:last-child {
    margin-right: 0;
  }

  .payment .message img {
    width: 145px;
    height: 145px;
  }
}
@media screen and (max-width: 450px) {
  .payment .message h1,
  h2 {
    font-size: 22px;
  }
}
